<div class="flex justify-between border-2 rounded-xl p-3 bg-emerald-200 my-2 w-[500px]">
  <img alt="cover" class="w-24 h-24" [src]="book.cover">
  <div class="flex flex-col justify-between mx-2">
    <div class="text-center text-lg font-medium">{{book.title}}</div>
    <div class="flex justify-between space-x-2 px-2">
      <div class="font-medium">Review: {{book.reviewsNumber}}</div>
      <div class="font-medium">Rating: {{book.rating | number: '1.0-1'}}</div>
    </div>
  </div>
  <div class="space-x-2 w-[60px]">
    <button (click)="showBook()">
      <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
           stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <circle cx="12" cy="12" r="2"/>
        <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 - 2"/>
        <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2"/>
      </svg>
    </button>
    <button (click)="editBook()">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>
      </svg>
    </button>
  </div>
</div>
